In [1]:
import pandas as pd

# Source
src_gizi_buruk = "https://raw.githubusercontent.com/FahrulID/balita-jawa-barat/main/dataset/Gizi%20Buruk/dinkes-od_17107_jumlah_balita_berdasarkan_kategori_balita_gizi_buruk_data.csv"
src_imunisasi_lengkap = "https://raw.githubusercontent.com/FahrulID/balita-jawa-barat/main/dataset/Imunisasi%20Dasar/dinkes-od_17464_jml_bayi_mendapat_imunisasi_dasar_lengkap__jk_data.csv"
src_dbd = "https://raw.githubusercontent.com/FahrulID/balita-jawa-barat/main/dataset/Kasus%20DBD/dinkes-od_18509_jml_kasus_penyakit_demam_berdarah_dengue_dbd__kabupate_data.csv"
src_diare = "https://raw.githubusercontent.com/FahrulID/balita-jawa-barat/main/dataset/Kasus%20Diare/dinkes-5-od_17577_jml_kasus_diare_pada_balita_dilayani__kabupatenkota_data.csv"
src_pneumonia = "https://raw.githubusercontent.com/FahrulID/balita-jawa-barat/main/dataset/Kasus%20Pneumonia/dinkes-5-od_17566_jml_penemuan_kasus_pneumonia_pada_balita__jk_data.csv"
src_perkiraan_pneumonia = "https://raw.githubusercontent.com/FahrulID/balita-jawa-barat/main/dataset/Perkiraan%20Kasus%20Pneumonia/dinkes-5-od_17565_jml_perkiraan_kasus_pneumonia_pada_balita__kabupatenko_data.csv"
src_stunting = "https://raw.githubusercontent.com/FahrulID/balita-jawa-barat/main/dataset/Stunting/dinkes-od_17147_jumlah_balita_stunting_berdasarkan_kabupatenkota_data.csv"

In [7]:
# Load Dataset
df_gizi_buruk = pd.read_csv(src_gizi_buruk)
df_imunisasi_lengkap = pd.read_csv(src_imunisasi_lengkap)
df_dbd = pd.read_csv(src_dbd)
df_diare = pd.read_csv(src_diare)
df_pneumonia = pd.read_csv(src_pneumonia)
df_perkiraan_pneumonia = pd.read_csv(src_perkiraan_pneumonia)
df_stunting = pd.read_csv(src_stunting)

# Print Dataset
display(df_gizi_buruk)
display(df_imunisasi_lengkap)
display(df_dbd)
display(df_diare)
display(df_pneumonia)
display(df_perkiraan_pneumonia)
display(df_stunting)

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,kategori_gizi_buruk,jumlah_balita,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,BALITA GIZI KURANG,20999,ORANG,2019
1,2,32,JAWA BARAT,3201,KABUPATEN BOGOR,BALITA PENDEK,86706,ORANG,2019
2,3,32,JAWA BARAT,3201,KABUPATEN BOGOR,BALITA KURUS,16179,ORANG,2019
3,4,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,BALITA GIZI KURANG,8016,ORANG,2019
4,5,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,BALITA PENDEK,11352,ORANG,2019
...,...,...,...,...,...,...,...,...,...
238,239,32,JAWA BARAT,3278,KOTA TASIKMALAYA,BALITA PENDEK,6243,ORANG,2021
239,240,32,JAWA BARAT,3278,KOTA TASIKMALAYA,BALITA KURUS,4452,ORANG,2021
240,241,32,JAWA BARAT,3279,KOTA BANJAR,BALITA GIZI KURANG,727,ORANG,2021
241,242,32,JAWA BARAT,3279,KOTA BANJAR,BALITA PENDEK,976,ORANG,2021
242,243,32,JAWA BARAT,3279,KOTA BANJAR,BALITA KURUS,1060,ORANG,2021

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jenis_kelamin,jumlah_bayi,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,LAKI-LAKI,49743,ORANG,2017
1,2,32,JAWA BARAT,3201,KABUPATEN BOGOR,PEREMPUAN,48337,ORANG,2017
2,3,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,LAKI-LAKI,1528,ORANG,2017
3,4,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,PEREMPUAN,1454,ORANG,2017
4,5,32,JAWA BARAT,3203,KABUPATEN CIANJUR,LAKI-LAKI,19308,ORANG,2017
...,...,...,...,...,...,...,...,...,...
265,266,32,JAWA BARAT,3277,KOTA CIMAHI,PEREMPUAN,4456,ORANG,2021
266,267,32,JAWA BARAT,3278,KOTA TASIKMALAYA,LAKI-LAKI,5221,ORANG,2021
267,268,32,JAWA BARAT,3278,KOTA TASIKMALAYA,PEREMPUAN,5044,ORANG,2021
268,269,32,JAWA BARAT,3279,KOTA BANJAR,LAKI-LAKI,1084,ORANG,2021
269,270,32,JAWA BARAT,3279,KOTA BANJAR,PEREMPUAN,1059,ORANG,2021

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_kasus,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,3477,ORANG,2016
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,854,ORANG,2016
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,799,ORANG,2016
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,3466,ORANG,2016
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,561,ORANG,2016
...,...,...,...,...,...,...,...,...
184,185,32,JAWA BARAT,3275,KOTA BEKASI,2442,ORANG,2022
185,186,32,JAWA BARAT,3276,KOTA DEPOK,2234,ORANG,2022
186,187,32,JAWA BARAT,3277,KOTA CIMAHI,675,ORANG,2022
187,188,32,JAWA BARAT,3278,KOTA TASIKMALAYA,1855,ORANG,2022
188,189,32,JAWA BARAT,3279,KOTA BANJAR,113,ORANG,2022

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_kasus,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,48589,ORANG,2019
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,35307,ORANG,2019
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,21257,ORANG,2019
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,25114,ORANG,2019
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,25711,ORANG,2019
...,...,...,...,...,...,...,...,...
103,104,32,JAWA BARAT,3275,KOTA BEKASI,4754,ORANG,2022
104,105,32,JAWA BARAT,3276,KOTA DEPOK,4787,ORANG,2022
105,106,32,JAWA BARAT,3277,KOTA CIMAHI,1403,ORANG,2022
106,107,32,JAWA BARAT,3278,KOTA TASIKMALAYA,3572,ORANG,2022
107,108,32,JAWA BARAT,3279,KOTA BANJAR,1127,ORANG,2022

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jenis_kelamin,jumlah_kasus,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,LAKI-LAKI,3810,ORANG,2019
1,2,32,JAWA BARAT,3201,KABUPATEN BOGOR,PEREMPUAN,3459,ORANG,2019
2,3,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,LAKI-LAKI,2540,ORANG,2019
3,4,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,PEREMPUAN,1966,ORANG,2019
4,5,32,JAWA BARAT,3203,KABUPATEN CIANJUR,LAKI-LAKI,2254,ORANG,2019
...,...,...,...,...,...,...,...,...,...
157,158,32,JAWA BARAT,3277,KOTA CIMAHI,PEREMPUAN,298,ORANG,2021
158,159,32,JAWA BARAT,3278,KOTA TASIKMALAYA,LAKI-LAKI,532,ORANG,2021
159,160,32,JAWA BARAT,3278,KOTA TASIKMALAYA,PEREMPUAN,468,ORANG,2021
160,161,32,JAWA BARAT,3279,KOTA BANJAR,LAKI-LAKI,141,ORANG,2021
161,162,32,JAWA BARAT,3279,KOTA BANJAR,PEREMPUAN,108,ORANG,2021

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_kasus,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,26985,ORANG,2019
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,11492,ORANG,2019
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,10812,ORANG,2019
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,17174,ORANG,2019
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,11780,ORANG,2019
...,...,...,...,...,...,...,...,...
76,77,32,JAWA BARAT,3275,KOTA BEKASI,31076,ORANG,2021
77,78,32,JAWA BARAT,3276,KOTA DEPOK,9351,ORANG,2021
78,79,32,JAWA BARAT,3277,KOTA CIMAHI,2576,ORANG,2021
79,80,32,JAWA BARAT,3278,KOTA TASIKMALAYA,3410,ORANG,2021
80,81,32,JAWA BARAT,3279,KOTA BANJAR,933,ORANG,2021

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_balita_stunting,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,40314,ORANG,2014
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,25332,ORANG,2014
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,26687,ORANG,2014
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,46412,ORANG,2014
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,14609,ORANG,2014
...,...,...,...,...,...,...,...,...
238,239,32,JAWA BARAT,3275,KOTA BEKASI,4575,ORANG,2022
239,240,32,JAWA BARAT,3276,KOTA DEPOK,3637,ORANG,2022
240,241,32,JAWA BARAT,3277,KOTA CIMAHI,3036,ORANG,2022
241,242,32,JAWA BARAT,3278,KOTA TASIKMALAYA,5633,ORANG,2022
242,243,32,JAWA BARAT,3279,KOTA BANJAR,846,ORANG,2022

In [29]:
new_df_gizi_buruk = df_gizi_buruk.pivot(index=['kode_kabupaten_kota', 'nama_kabupaten_kota', 'tahun'], columns='kategori_gizi_buruk', values='jumlah_balita')
new_df_gizi_buruk.columns = new_df_gizi_buruk.columns.str.lower().str.replace(' ', '_')
display(new_df_gizi_buruk)

new_df_imunisasi_lengkap = df_imunisasi_lengkap.pivot(index=['kode_kabupaten_kota', 'nama_kabupaten_kota', 'tahun'], columns='jenis_kelamin', values='jumlah_bayi')
new_df_imunisasi_lengkap.columns = new_df_imunisasi_lengkap.columns.str.lower().str.replace(' ', '_')
new_df_imunisasi_lengkap['jumlah_bayi_imunisasi_lengkap'] = new_df_imunisasi_lengkap['laki-laki'] + new_df_imunisasi_lengkap['perempuan']
new_df_imunisasi_lengkap = new_df_imunisasi_lengkap.drop(columns=['laki-laki', 'perempuan'])
new_df_imunisasi_lengkap = new_df_imunisasi_lengkap.loc[(slice(None), slice(None), [2019, 2020, 2021]), :]
display(new_df_imunisasi_lengkap)

new_df_dbd = df_dbd[['kode_kabupaten_kota', 'nama_kabupaten_kota', 'jumlah_kasus', 'tahun']]
new_df_dbd = new_df_dbd.rename(columns={'jumlah_kasus': 'jumlah_kasus_dbd'})
new_df_dbd = new_df_dbd.set_index(['kode_kabupaten_kota', 'nama_kabupaten_kota', 'tahun'])
new_df_dbd = new_df_dbd.loc[(slice(None), slice(None), [2019, 2020, 2021]), :]
display(new_df_dbd)

new_df_diare = df_diare[['kode_kabupaten_kota', 'nama_kabupaten_kota', 'jumlah_kasus', 'tahun']]
new_df_diare = new_df_diare.rename(columns={'jumlah_kasus': 'jumlah_kasus_diare'})
new_df_diare = new_df_diare.set_index(['kode_kabupaten_kota', 'nama_kabupaten_kota', 'tahun'])
new_df_diare = new_df_diare.loc[(slice(None), slice(None), [2019, 2020, 2021]), :]
display(new_df_diare)

new_df_pneumonia = df_pneumonia.pivot(index=['kode_kabupaten_kota', 'nama_kabupaten_kota', 'tahun'], columns='jenis_kelamin', values='jumlah_kasus')
new_df_pneumonia.columns = new_df_pneumonia.columns.str.lower().str.replace(' ', '_')
new_df_pneumonia['jumlah_pneumonia'] = new_df_pneumonia['laki-laki'] + new_df_pneumonia['perempuan']
new_df_pneumonia = new_df_pneumonia.drop(columns=['laki-laki', 'perempuan'])
new_df_pneumonia = new_df_pneumonia.loc[(slice(None), slice(None), [2019, 2020, 2021]), :]
display(new_df_pneumonia)

new_df_perkiraan_pneumonia = df_perkiraan_pneumonia[['kode_kabupaten_kota', 'nama_kabupaten_kota', 'jumlah_kasus', 'tahun']]
new_df_perkiraan_pneumonia = new_df_perkiraan_pneumonia.rename(columns={'jumlah_kasus': 'jumlah_perkiraan_pneumonia'})
new_df_perkiraan_pneumonia = new_df_perkiraan_pneumonia.set_index(['kode_kabupaten_kota', 'nama_kabupaten_kota', 'tahun'])
new_df_perkiraan_pneumonia = new_df_perkiraan_pneumonia.loc[(slice(None), slice(None), [2019, 2020, 2021]), :]
display(new_df_perkiraan_pneumonia)

new_df_df_stunting = df_stunting[['kode_kabupaten_kota', 'nama_kabupaten_kota', 'jumlah_balita_stunting', 'tahun']]
new_df_df_stunting = new_df_df_stunting.set_index(['kode_kabupaten_kota', 'nama_kabupaten_kota', 'tahun'])
new_df_df_stunting = new_df_df_stunting.loc[(slice(None), slice(None), [2019, 2020, 2021]), :]
display(new_df_df_stunting)

kategori_gizi_buruk                            balita_gizi_kurang  \
kode_kabupaten_kota nama_kabupaten_kota tahun
3201                KABUPATEN BOGOR     2019                20999
                                        2020                21322
                                        2021                16821
3202                KABUPATEN SUKABUMI  2019                 8016
                                        2020                 8838
...                                                           ...
3278                KOTA TASIKMALAYA    2020                 3738
                                        2021                 2477
3279                KOTA BANJAR         2019                  968
                                        2020                 1086
                                        2021                  727

kategori_gizi_buruk                            balita_kurus  balita_pendek
kode_kabupaten_kota nama_kabupaten_kota tahun
3201                KABUPATEN BOGOR     2019          16179          86706
                                        2020          18572          40959
                                        2021          18913          32123
3202                KABUPATEN SUKABUMI  2019           6641          11352
                                        2020           6046          14154
...                                                     ...            ...
3278                KOTA TASIKMALAYA    2020           1679           5373
                                        2021           4452           6243
3279                KOTA BANJAR         2019            523            962
                                        2020            837           1355
                                        2021           1060            976

[81 rows x 3 columns]

jenis_kelamin                                  jumlah_bayi_imunisasi_lengkap
kode_kabupaten_kota nama_kabupaten_kota tahun
3201                KABUPATEN BOGOR     2019                          106221
                                        2020                           91204
                                        2021                          104246
3202                KABUPATEN SUKABUMI  2019                           39340
                                        2020                           38541
...                                                                      ...
3278                KOTA TASIKMALAYA    2020                           10289
                                        2021                           10265
3279                KOTA BANJAR         2019                            4791
                                        2020                            2412
                                        2021                            2143

[81 rows x 1 columns]

                                               jumlah_kasus_dbd
kode_kabupaten_kota nama_kabupaten_kota tahun
3201                KABUPATEN BOGOR     2019               1210
3202                KABUPATEN SUKABUMI  2019                616
3203                KABUPATEN CIANJUR   2019                643
3204                KABUPATEN BANDUNG   2019               2635
3205                KABUPATEN GARUT     2019                769
...                                                         ...
3275                KOTA BEKASI         2021               1844
3276                KOTA DEPOK          2021               3155
3277                KOTA CIMAHI         2021                590
3278                KOTA TASIKMALAYA    2021                909
3279                KOTA BANJAR         2021                 29

[81 rows x 1 columns]

                                               jumlah_kasus_diare
kode_kabupaten_kota nama_kabupaten_kota tahun
3201                KABUPATEN BOGOR     2019                48589
3202                KABUPATEN SUKABUMI  2019                35307
3203                KABUPATEN CIANJUR   2019                21257
3204                KABUPATEN BANDUNG   2019                25114
3205                KABUPATEN GARUT     2019                25711
...                                                           ...
3275                KOTA BEKASI         2021                 3211
3276                KOTA DEPOK          2021                 2497
3277                KOTA CIMAHI         2021                 1162
3278                KOTA TASIKMALAYA    2021                 2755
3279                KOTA BANJAR         2021                  864

[81 rows x 1 columns]

jenis_kelamin                                  jumlah_pneumonia
kode_kabupaten_kota nama_kabupaten_kota tahun
3201                KABUPATEN BOGOR     2019               7269
                                        2020               3605
                                        2021               3079
3202                KABUPATEN SUKABUMI  2019               4506
                                        2020               4882
...                                                         ...
3278                KOTA TASIKMALAYA    2020               1118
                                        2021               1000
3279                KOTA BANJAR         2019                569
                                        2020                498
                                        2021                249

[81 rows x 1 columns]

                                               jumlah_perkiraan_pneumonia
kode_kabupaten_kota nama_kabupaten_kota tahun
3201                KABUPATEN BOGOR     2019                        26985
3202                KABUPATEN SUKABUMI  2019                        11492
3203                KABUPATEN CIANJUR   2019                        10812
3204                KABUPATEN BANDUNG   2019                        17174
3205                KABUPATEN GARUT     2019                        11780
...                                                                   ...
3275                KOTA BEKASI         2021                        31076
3276                KOTA DEPOK          2021                         9351
3277                KOTA CIMAHI         2021                         2576
3278                KOTA TASIKMALAYA    2021                         3410
3279                KOTA BANJAR         2021                          933

[81 rows x 1 columns]

                                               jumlah_balita_stunting
kode_kabupaten_kota nama_kabupaten_kota tahun
3201                KABUPATEN BOGOR     2019                    18752
3202                KABUPATEN SUKABUMI  2019                    15583
3203                KABUPATEN CIANJUR   2019                    12761
3204                KABUPATEN BANDUNG   2019                    19121
3205                KABUPATEN GARUT     2019                     9723
...                                                               ...
3275                KOTA BEKASI         2021                     9820
3276                KOTA DEPOK          2021                     3726
3277                KOTA CIMAHI         2021                     3161
3278                KOTA TASIKMALAYA    2021                     6194
3279                KOTA BANJAR         2021                      929

[81 rows x 1 columns]

In [30]:
# check for nulls
print(new_df_gizi_buruk.isnull().sum())
print(new_df_imunisasi_lengkap.isnull().sum())
print(new_df_dbd.isnull().sum())
print(new_df_diare.isnull().sum())
print(new_df_pneumonia.isnull().sum())
print(new_df_perkiraan_pneumonia.isnull().sum())
print(new_df_df_stunting.isnull().sum())

kategori_gizi_buruk
balita_gizi_kurang    0
balita_kurus          0
balita_pendek         0
dtype: int64
jenis_kelamin
jumlah_bayi_imunisasi_lengkap    0
dtype: int64
jumlah_kasus_dbd    0
dtype: int64
jumlah_kasus_diare    0
dtype: int64
jenis_kelamin
jumlah_pneumonia    0
dtype: int64
jumlah_perkiraan_pneumonia    0
dtype: int64
jumlah_balita_stunting    0
dtype: int64

In [32]:
# merge all dataset
df = pd.merge(new_df_gizi_buruk, new_df_imunisasi_lengkap, on=['kode_kabupaten_kota', 'nama_kabupaten_kota', 'tahun'], how='outer')
df = pd.merge(df, new_df_dbd, on=['kode_kabupaten_kota', 'nama_kabupaten_kota', 'tahun'], how='outer')
df = pd.merge(df, new_df_diare, on=['kode_kabupaten_kota', 'nama_kabupaten_kota', 'tahun'], how='outer')
df = pd.merge(df, new_df_pneumonia, on=['kode_kabupaten_kota', 'nama_kabupaten_kota', 'tahun'], how='outer')
df = pd.merge(df, new_df_perkiraan_pneumonia, on=['kode_kabupaten_kota', 'nama_kabupaten_kota', 'tahun'], how='outer')
df = pd.merge(df, new_df_df_stunting, on=['kode_kabupaten_kota', 'nama_kabupaten_kota', 'tahun'], how='outer')
df = df.reset_index()
df = df.sort_values(['kode_kabupaten_kota', 'tahun'])
display(df)

df.to_csv('data/dataset.csv', index=False)

,kode_kabupaten_kota,nama_kabupaten_kota,tahun,balita_gizi_kurang,balita_kurus,balita_pendek,jumlah_bayi_imunisasi_lengkap,jumlah_kasus_dbd,jumlah_kasus_diare,jumlah_pneumonia,jumlah_perkiraan_pneumonia,jumlah_balita_stunting
0,3201,KABUPATEN BOGOR,2019,20999,16179,86706,106221,1210,48589,7269,26985,18752
1,3201,KABUPATEN BOGOR,2020,21322,18572,40959,91204,1296,27155,3605,28128,34020
2,3201,KABUPATEN BOGOR,2021,16821,18913,32123,104246,2220,22928,3079,28034,30844
3,3202,KABUPATEN SUKABUMI,2019,8016,6641,11352,39340,616,35307,4506,11492,15583
4,3202,KABUPATEN SUKABUMI,2020,8838,6046,14154,38541,561,34601,4882,11502,14106
...,...,...,...,...,...,...,...,...,...,...,...,...
76,3278,KOTA TASIKMALAYA,2020,3738,1679,5373,10289,1409,3525,1118,3353,7746
77,3278,KOTA TASIKMALAYA,2021,2477,4452,6243,10265,909,2755,1000,3410,6194
78,3279,KOTA BANJAR,2019,968,523,962,4791,62,2717,569,935,962
79,3279,KOTA BANJAR,2020,1086,837,1355,2412,146,1274,498,935,1355
80,3279,KOTA BANJAR,2021,727,1060,976,2143,29,864,249,933,929